<div id="sidebar">
    <div id="menu">
        <div id="moto">Be friend with time</div>
        <!--<a routerLink="users">User List</a>
        <a routerLink="create-user">Create User</a>-->
        <a routerLink="calendar" class="calendar"><img src="assets/images/calendar-icon.svg" />Calendar</a>
        <a routerLink="profile" class="profile"><img src="assets/images/profile-icon.svg" />Profile</a>
        <a routerLink="badges" class="achievement"><img src="assets/images/achievement-icon.svg" />Badges</a>
        <!--<a routerLink="settings" class="settings"><img src="assets/images/settings-icon.svg" />Settings</a>-->
        <a (click)="onLogoutClick()" class="logout" style="margin-top: 320px"><img src="assets/images/logout-icon.svg" />Logout</a>
    </div>
</div>